<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>873872238258-euus6nqh9o63q1d1dsm3utg1u0sostm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873872238258-euus6nqh9o63q1d1dsm3utg1u0sostm0</string>
	<key>API_KEY</key>
	<string>AIzaSyDU5vF0yq4YYbCSry11NKRvbJJertCQQPA</string>
	<key>GCM_SENDER_ID</key>
	<string>873872238258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.hpd.iosdev.ios280.Instogrom</string>
	<key>PROJECT_ID</key>
	<string>ios280-instogrom-4570a</string>
	<key>STORAGE_BUCKET</key>
	<string>ios280-instogrom-4570a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:873872238258:ios:ec7720cf6d1e1ab2</string>
	<key>DATABASE_URL</key>
	<string>https://ios280-instogrom-4570a.firebaseio.com</string>
</dict>
</plist>